<template name="HomeLayout">
    {{> Header}}
	<main>
		<div class="billboard">
			<h2>Organize Your Meals</h2>
		</div>
		<div class="website-introduction">			
			<div class="row">
			    <div class="column">
			    	<i class="fa fa-user"></i>
			        <h3>Create Your Account</h3>
			        <p>This App help you easily handle your Meals with couple of easy steps. To explore what you can do with it. Register Now!</p>
			    </div>
			    <div class="column">	
			        <i class="fa fa-location-arrow"></i>
			        <h3>Create Your Own Menu</h3>
			        <p>You can create your own custom recipe by simple add name, description and ingredients. How easy this is.</p>
			    </div>
			    <div class="column">
			        <i class="fa fa-shopping-bag"></i>
			        <h3>Your Shopping Cart</h3>
			        <p>Once you add your recipe to your wonderful menu, you are all set. The ingredients you need to buy will automatically added to your shopping cart</p>
			    </div>
			</div>
		</div>
	</main>
</template>